<div class="d-flex justify-content-center">
  <div class="w-50">
    <%= form_with url: session_path, class: 'needs-validation', novalidate: true do |form| %>
      <div class="mb-3">
        <%= form.label :email_address, 'Email Address', class: 'form-label' %>
        <%= form.email_field :email_address, class: 'form-control', required: true, autofocus: true, autocomplete: 'username', placeholder: 'Enter your email address', value: params[:email_address] %>
      </div>

      <div class="mb-3">
        <%= form.label :password, 'Password', class: 'form-label' %>
        <%= form.password_field :password, class: 'form-control', required: true, autocomplete: 'current-password', placeholder: 'Enter your password', maxlength: 72 %>
      </div>

      <%= form.submit 'Sign in', class: 'btn btn-primary w-100' %>
    <% end %>
    
    <div class="mt-3 text-left">
      <%= link_to 'Forgot password?', new_password_path, class: 'd-block' %>
      <%= link_to 'Create Account', new_registration_path, class: 'd-block' %>
    </div>
  </div>
</div>
