<div class="bg-light p-5 rounded">
  <h1><%= @book.title %></h1>
  <hr class="my-4">
  <p>Author: <%= @book.author %></p>

  <% borrowing = Current.user.borrowings.find_by(book: @book, returned_date: nil) %>
  <% if borrowing %>
    <%= button_to 'Return Book', return_book_path(@book), method: :post, class: "btn btn-warning" %>
  <% elsif @book.available? %>
    <%= button_to 'Borrow Book', borrow_book_path(@book), method: :post, class: "btn btn-primary" %>
  <% end %>
  <% if Current.user&.admin %>
    <%= link_to 'Edit Book', edit_book_path(@book), class: "btn btn-warning mt-3" %>
    <br/>
    <% end %>
  <%= link_to 'Back to List', books_path, class: "btn btn-secondary mt-3" %>
</div>
